<link rel="preload" href="{{ "fonts/noto-sans/noto-sans-v38-latin-regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/noto-sans/noto-sans-v38-latin-500.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/jetbrains-mono/jetbrains-mono-v20-latin-regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "fonts/jetbrains-mono/jetbrains-mono-v20-latin-500.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
