@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Italic.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --vp-c-brand-1: var(--vp-c-purple-1);
  --vp-c-brand-2: var(--vp-c-purple-2);
  --vp-c-brand-3: var(--vp-c-purple-3);
  --vp-c-brand-soft: var(--vp-c-purple-soft);
  --vp-font-family-base: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --vp-font-family-mono: "JetBrains Mono", "Fira Code", ui-monospace, "Menlo",
    "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}
