@{
    ViewData["Title"] = "Home Page";
}

<h1>Rux Programming Language</h1>
<h3>Fast, compiled, strongly typed, multi-paradigm, general-purpose programming language</h3>
<a href="https://github.com/rux-lang/Rux">GitHub</a>

