@{
    ViewData["Title"] = "Home Page";
}

<h1>Rux Programming Language</h1>
<h3>Fast, compiled, strongly typed, multi-paradigm, general-purpose programming language</h3>
<a href="https://github.com/rux-lang/Rux">GitHub</a>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta dolor dolorem dolorum esse exercitationem fugiat fugit natus perspiciatis, placeat quas quia quidem quod similique sint voluptatem, voluptatum. Dolore, quia!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta dolor dolorem dolorum esse exercitationem fugiat fugit natus perspiciatis, placeat quas quia quidem quod similique sint voluptatem, voluptatum. Dolore, quia!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta dolor dolorem dolorum esse exercitationem fugiat fugit natus perspiciatis, placeat quas quia quidem quod similique sint voluptatem, voluptatum. Dolore, quia!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta dolor dolorem dolorum esse exercitationem fugiat fugit natus perspiciatis, placeat quas quia quidem quod similique sint voluptatem, voluptatum. Dolore, quia!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta dolor dolorem dolorum esse exercitationem fugiat fugit natus perspiciatis, placeat quas quia quidem quod similique sint voluptatem, voluptatum. Dolore, quia!</p>

<img src="~/img/image.png" alt="Background">