// Put your custom SCSS variables here

// Light mode
$primary: #22c55e;// #4f46e5;

// Dark mode
$link-color-dark: #4ade80;
$button-color-dark: #4ade80;

:root,
::backdrop {
  --sl-color-accent-high: #4ade80;
}

$font-family-sans-serif:
  "Noto Sans",
  system-ui,
  -apple-system,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  "Noto Sans",
  "Liberation Sans",
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

$font-family-monospace: "JetBrains Mono", monospace, ui-monospace;
